# Compiled source #
###################
*.class
target/

# Intellij files and folders #
#############################
*.iml
.idea/

# Logs #
########
*.log
logs/

# Eclipse #
###########
.settings/
.project
.classpath
